#btn-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

#btn {
  background-color: #0095B6;
  opacity: 0.8;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  opacity: 1;
  background-color: #0095B6;
}
